In [1]:
import warnings
warnings.filterwarnings("ignore")

# **0.0 Import Libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **1.0 Load Data**

In [3]:
df = pd.read_excel("University data CS.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   University Name       77 non-null     object
 1   Location              77 non-null     object
 2   Type                  77 non-null     object
 3   Graduates per year    77 non-null     int64
 4   Rank in pakistan      77 non-null     int64
 5   Rank in World         77 non-null     int64
 6   Satisfaction          77 non-null     float64
 7   Job Placement rating  77 non-null     float64
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ KB

# **2.0 Data Cleaning**

In [4]:
df.isnull().sum().sort_values(ascending=False)

University Name         0
Location                0
Type                    0
Graduates per year      0
Rank in pakistan        0
Rank in World           0
Satisfaction            0
Job Placement rating    0
dtype: int64

In [5]:
df.duplicated().any()

False

# **3.0 Descriptive Statistics**

In [6]:
df.describe()

,Graduates per year,Rank in pakistan,Rank in World,Satisfaction,Job Placement rating
count,77.000000,77.000000,77.000000,77.000000,77.000000
mean,3080.610390,39.000000,3393.064935,4.118182,3.822078
std,6474.227879,22.371857,1148.039099,0.418244,0.744387
min,129.000000,1.000000,687.000000,3.000000,2.000000
25%,480.000000,20.000000,2485.000000,3.900000,3.400000
50%,987.000000,39.000000,3580.000000,4.200000,4.000000
75%,1842.000000,58.000000,4283.000000,4.400000,4.400000
max,38262.000000,77.000000,5775.000000,4.800000,5.000000